{% extends 'index.html' %}


{% block title %}Online Store | New posts{% endblock %}

{% block sidebar %}
    <!-- Sidebar -->
    <aside class="categories">
        <div class="categories_header" id="catList">
            <h1 class="categories_title">Categories:</h1>
            <ul class="categories_inner">
                {% for e in category_lst %}
                    <li class="categories_item">
                        <a href="/category/{{ e }}">{{ e }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="price_title">Price:</h1>
        <form method="post" action="/search/byPrice" class="categories_price">
            <label for="from_price" class="price_item">
                <h1>From:</h1>
                <input type="number" class="price_input" name="from_price" value="0">
            </label>
            <label for="to_price" class="price_item">
                <h1>To:</h1>
                <input type="number" class="price_input" name="to_price" value="0">
            </label>
            <input type="submit" value="OK" class="price_submit">
        </form>
    </aside>
{% endblock %}

{% block header %}
    <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a href="/" class="header_logo">
                        <svg class="header_icon">
                            <use xlink:href="#cart-icon"></use>
                        </svg>
                    </a>
                    <form action="/search/result" method="post" class="header_input">
                        <label for="search_input">
                            <input type="text" name="user_input" id="search_input" class="header_input_field" placeholder="Search">
                        </label>
                        <label for="button" class="search_btn">
                            <svg class="search_icon">
                                <use xlink:href="#search-icon"></use>
                            </svg>
                            <input type="submit" id="button" class="input_submit_btn">
                        </label>

                    </form>
                    <nav class="nav">
                        <ul class="nav_inner">
                            <li class="nav_link">
                                <a href="/">Home</a>
                            </li>
                            <li class="nav_link">
                                <a href="/new">New Posts</a>
                            </li>
                            <li class="nav_link">
                                <a href="/about">About</a>
                            </li>
                            <li class="nav_link form_link">
                                <a href="/login">
                                    <h1>Login</h1>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
{% endblock %}

{% block content %}
    <main class="main">
        <!-- New posts -->
        <div class="new_posts">
            <div class="posts_header">
                <h1 class="post_title">New products:</h1>
            </div>
            <ul class="posts_content">
                {% for post in ordered_data %}
                    <li class="post_link">
                        <a href="/post/{{ post.id }}">
                            <div class="post_item">
                                <img src="/static/files/{{ post.filename }}" alt="product_img">
                                <h1>{{ post.name }}</h1>
                                <h6>{{ post.price }} ₾</h6>
                            </div>
                        </a>
                        <a href="/category/{{ post.category }}" class="post_item_category">
                            <h3>{{ post.category }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    const catList = document.getElementById("catList");

    if (catList.scrollHeight > 450){
        catList.style.overflowY = 'scroll';
    }
    </script>
{% endblock %}